body {
  background-color:rgb(215, 217, 211);
  font-family: serif;
  color: black;
  margin: 2em;
  padding: 2em;
  text-align: center;
}

li {
  text-align: left;
  font-size: 1.3em;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2em;
  color:black
}

table {
  width: 90%;
  font-family: serif;
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

caption {
  font-size: 3em;
}


th {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border: 1px solid #ddd;
  background-color:rgb(115, 158, 194);
}

button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(144, 145, 141);

}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background: #ddd;
}

td {
  font-size: 1.10em;
  border: 1px solid #ddd;
  text-align: center;
  color: black;
}

